*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #ffa1bd;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

header{
  padding: 32px 0;
  text-align: center;
}

ul{
  color: black;
  display: grid;
  text-align: center;
  margin: 0 50px;
}

.button_time{
  color: rgb(0, 170, 0);
  background-color: #fff;
  height: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
}

.button_price{
  color: black;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.button_photo{
  color: black;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.button_about{
  color: black;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  cursor: default;
  transition: filter 0.5s;
  opacity: 0.5;
}

a{
  cursor: pointer;
  transition: filter 0.5s;
}

a:hover{
  filter: brightness(0.7);
}

footer{
  position: relative;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
  color: #6d6d6d;
}

footer a{
  text-decoration: none;
}

footer p.mf{
  font-size: small;
}

footer p.author{
  font-size: x-small;
}
