body {
  background-color: #ffa1bd;
  margin: 0;
  padding: 0;
  align-items: center;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.logo{
  padding-bottom: 50px;
}

.workin{
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  font-size: x-large;
}

.c-loader {
  margin: 0 auto;
  animation: is-rotating 1s infinite;
  border: 10px solid #fff;
  border-radius: 50%;
  border-top-color: #ffa1bd;
  height: 100px;
  width: 100px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

footer{
  margin: 0px;
  text-align: center;
  padding-top: 50px;
}

footer a{
  text-decoration: none;
}

footer p.mf{
  font-size: small;
}

footer p.author{
  font-size: x-small;
}
