*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ffa1bd;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul{
  list-style: none;
}

header{
  padding: 32px 0;
  text-align: center;
}

.logo{
  background-color: #fff;
  border-radius: 50%;
  max-width: 300px;
  margin: 0 auto;
}

section{
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 24px;
}

h1{
  text-align: center;
  letter-spacing: 0.1em;
}

h3{
  text-align: center;
  font-size: 1em;
  padding: 5px;

  width: 195px;

  background: #FFC8CE;
  border-radius: 0px 0px 10px 0px;

  margin-bottom: 10px;
}

.pag{
  text-align: center;
}

.button_close{
  color: black;
  display: grid;
  text-align: center;
  margin: 30px 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

a{
  cursor: pointer;
  transition: filter 0.5s;
}

a:hover{
  filter: brightness(0.7);
}

footer{
  margin: 0px;
  text-align: center;
  padding-top: 50px;
  color: #6d6d6d;
}

footer a{
  text-decoration: none;
}

footer p.mf{
  font-size: small;
}

footer p.author{
  font-size: x-small;
}
